/*ナビゲーションヘッダー要素*/
.sp__layout__accordion{
    position:absolute;
    position:fixed;
    top:20px;
    right:30px;
    width:30px;
    height:30px;
    z-index:101;
    &:hover{
      cursor:pointer;
    }
  }
  .sp__layout__accordion span:nth-child(1){
    display:block;
    position:absolute;
    left:0;
    width:30px;
    height:1px;
    background-color:#707070;
  }
  .sp__layout__accordion span:nth-child(2){
    display:block;
    position:absolute;
    left:0;
    width:30px;
    height:1px;
    background-color:#707070;
  }
  .sp__layout__accordion span:nth-child(3){
    display:block;
    position:absolute;
    left:0;
    width:30px;
    height:1px;
    background-color:#707070;
  }
  .sp__layout__accordion .open:nth-child(1){
    transform:translateY(0)rotate(0)scaleX(1);
  }
  .sp__layout__accordion .open:nth-child(2){
    transform:translateY(10px)translateX(0);
    opacity:1;
  }
  .sp__layout__accordion .open:nth-child(3){
    transform:translateY(20px)rotate(0)scaleX(1);
  }
  .sp__layout__accordion .close:nth-child(1){
    transform:translateY(10px)rotate(315deg)scaleX(1.4);
  }
  .sp__layout__accordion .close:nth-child(2){
    transform:translateY(10px)translateX(100px);
    opacity:0;
    top:25px;
  }
  .sp__layout__accordion .close:nth-child(3){
    transform:translateY(10px)rotate(-315deg)scaleX(1.4);
  }
  .sp__layout__accordion .open,.close{
    transition: transform 0.3s;
  }
  .sp__layout__accordion .close{
    background-color:#F4F5F7;
  }
  